<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
.w3-top {width:1225px;padding:0;margin-top:6px}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<%= render partial: 'navbar' %> 

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <h1><b>MARKETING</b></h1>
  
  </div>

  <!-- Slideshow -->
   <% @sliders.each_slice(4).each do |article| %>
    <%= render 'slider', slider: article %>
  <% end %>


   <!-- Grid 1 -->

  <% @Offer.each_slice(4).each do |article| %>
    <%= render 'grid1', grid1: article %>
  <% end %>
<!-- Grid 2 -->
  <% @pricings.each_slice(3).each do |article| %>
    <%= render 'grid2', grid2: article %>
  <% end %>
  
 <!-- Grid 3-->

<% @weare.each_slice(3).each do |article| %>
    <%= render 'grid3', grid3: article %>
  <% end %>
  

  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
  </div>

  <%= render partial: 'form' %> 

</div>

<!-- Footer -->
 <%= render partial: 'footer' %> 



<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
